.files-list {
  list-style: none;
}

.image {
  margin-right: 10px;
  width: 25px;
  height: 25px;
  vertical-align: text-bottom;
}

.arrow {
  margin-right: 10px;
  width: 15px;
  height: 15px;
}

.arrow.active {
  transform: rotate(90deg);
}

.not-folder {
  margin-left: 23px;
}

li {
  margin-bottom: 4px;
}

ul {
  margin-top: 10px;
  padding-inline-start: 10px;
}
